@import "tailwindcss";

:root {
  --background-light: #ffffff;
  --foreground-light: #171717;
  
  --background-dark: #171717;
  --foreground-dark: #ffffff;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #121212;
  color: #ffffff;
}